appnope==0.1.4
asttokens==2.4.1
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
cached-property==1.5.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
czifile==2019.7.2
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
executing==2.0.1
fastjsonschema==2.20.0
fluigent_sdk @ file:///Users/jsadden/Downloads/fluigent_sdk-23.0.0.zip#sha256=c5947e774fcf10b2192f80e5f284d8875e9f5a1de7bc5c1a28ed35f8040d4442
fonttools==4.44.1
gitdb==4.0.11
GitPython==3.1.43
idna==3.8
imageio==2.34.1
importlib_metadata==7.1.0
iniconfig==2.0.0
ipython==8.25.0
jedi==0.19.1
Jinja2==3.1.4
jsonpickle==3.3.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
lazy_loader==0.4
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mistune==3.0.2
mpmath==1.3.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
netifaces==0.11.0
networkx==3.3
numpy==1.26.4
opencv-contrib-python==4.9.0.80
OpenPIV==0.23.8
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.1.0
pipreqs==0.5.0
platformdirs==4.3.2
pluggy==1.5.0
prompt_toolkit==3.0.46
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pyparsing==3.1.1
pyphantom==0.2.9
pyserial==3.5
pytest==8.2.2
python-dateutil==2.8.2
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
readlif==0.6.5
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
scikit-image==0.23.2
scipy==1.13.1
setuptools==78.1.0
six==1.16.0
smmap==5.0.1
soupsieve==2.6
stack-data==0.6.3
str2bool==1.1
sympy==1.13.2
tifffile==2024.5.22
tinycss2==1.3.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
tzdata==2024.2
urllib3==2.2.2
watermark==2.4.3
wcwidth==0.2.13
webencodings==0.5.1
yarg==0.1.9
zipp==3.19.2
