asttokens==2.4.1
contourpy==1.2.0
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.44.1
gitdb==4.0.11
gitpython==3.1.43
imageio==2.34.1
importlib-metadata==7.1.0
iniconfig==2.0.0
ipython==8.25.0
jedi==0.19.1
kiwisolver==1.4.5
lazy-loader==0.4
matplotlib==3.8.4
matplotlib-inline==0.1.7
natsort==8.4.0
networkx==3.3
numpy==1.26.4
opencv-contrib-python==4.9.0.80
openpiv==0.23.8
packaging==23.2
parso==0.8.4
pexpect==4.9.0
pillow==10.1.0
pluggy==1.5.0
prompt-toolkit==3.0.46
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.18.0
pyparsing==3.1.1
pyserial==3.5
pytest==8.2.2
python-dateutil==2.8.2
readlif==0.6.5
scikit-image==0.23.2
scipy==1.13.1
six==1.16.0
smmap==5.0.1
stack-data==0.6.3
tifffile==2024.5.22
tqdm==4.66.4
traitlets==5.14.3
watermark==2.4.3
wcwidth==0.2.13
zipp==3.19.2

# The following packages are considered to be unsafe in a requirements file:
# setuptools
